<div class="container">
  <h1 class="m-5 text-center">Петиции</h1>
  <div *ngFor="let petition of petitions" class="list-group mt-4">
    <a
      [routerLink]="['/']"
      class="list-group-item list-group-item-action d-flex justify-content-around"
    >
      <div class="d-flex">
        <img
          src="{{ petition.image }}"
          alt="photo"
          class="img-responsive img-thumbnail rounded-circle w-50"
        />
        <div class="m-3">
          <h5 class="list-group-item-heading">{{ petition.title }}</h5>
          <p class="list-group-item-text">{{ petition.location }}</p>
        </div>
      </div>
      <div class="d-flex justify-content-between flex-column">
        <small>Дата создания: {{ petition.timestamp }}</small>
        <button class="btn btn-success" [routerLink]="['/']">Подробнее</button>
      </div>
    </a>
  </div>
</div>
